<div class="w-full h-full px-20 py-16">
  <h3 class="text-3xl text-gray-500">All Requests</h3>

  <form class="flex flex-row justify-between my-16" (submit)="applySearchAndFilter()" [formGroup]="searchForm">
    <div class="flex flex-row items-center gap-16">
      <h3 class="text-gray">Filter </h3>
      <div class="form-control">
        <input type="text" placeholder="" formControlName="name"  class="input input-bordered">
      </div>
      <select formControlName="brandId" class="select select-success w-full"  *ngIf="(brand$ | async) as brandList">
        <option value="0">Brand</option>
        <option *ngFor="let brand of brandList" [value]="brand.brandId"> {{ brand.name }} </option>
      </select>
    </div>

    <button class="btn ">Filter</button>
  </form>


    <div class="overflow-x-auto">
      <table class="table-auto border-separate border-spacing-y-5 w-full" *ngIf="(campain$ | async ) as campainList; else loading">
        <thead class="bg-transparent text-left">
        <tr>
          <th class="">Status</th>
          <th class="">Name</th>
          <th class="">Type</th>
          <th class="">Brand</th>
          <th class="">Submission</th>
        </tr>
        </thead>
        <tbody>
        <tr class="bg-blue-100 " *ngFor="let campain of campainList">
          <td class="pl-12 py-4">
              <app-pending-icon *ngIf="['TO_REVIEW', 'TO_MODIFY', 'SUBMITTED'].includes(campain.requestStatus.name)"></app-pending-icon>
              <app-accepted-icon *ngIf="['VALIDATED'].includes(campain.requestStatus.name)" ></app-accepted-icon>
              <app-rejected-icon *ngIf="['REJECTED'].includes(campain.requestStatus.name)" ></app-rejected-icon>
              <app-draft-icon *ngIf="['DRAFT'].includes(campain.requestStatus.name)" ></app-draft-icon>
          </td>
          <td class="">{{ campain.campaignName }}</td>
          <td >
            <span [ngClass]="{'badge': true, 'badge-secondary': campain.advice}">{{ campain.advice ? "Advice" : "Request" }}</span>

          </td>
          <td class="">{{ campain.brand.name }}</td>
          <td class="text-gray-500" >
            <span *ngIf="['SUBMITTED'].includes(campain.requestStatus.name)" > {{ campain.submittedDate ?? campain.createdDate | date  }} </span>
            <span *ngIf="['VALIDATED'].includes(campain.requestStatus.name)" > {{ campain.validatedDate | date }} </span>
            <span *ngIf="['DRAFT'].includes(campain.requestStatus.name)" > {{ campain.createdDate | date }} </span>
            <span *ngIf="['REJECTED', 'TO_REVIEW', 'TO_MODIFY'].includes(campain.requestStatus.name)" > {{ campain.updatedDate | date }} </span>
          </td>
          <td class="">
            <a [routerLink]="['edit', campain.requestId]">
              <app-arrow-right-icon  ></app-arrow-right-icon>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

</div>

<ng-template #loading>
  loading...
</ng-template>
<router-outlet></router-outlet>
